<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalprojectapphitungfisika">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProjectAppHitungFisika">
        <activity android:name=".HitungGLBB_Activity" />
        <activity android:name=".HitungGLB_Activitty" />
        <activity android:name=".HitungMekanikActivity" />
        <activity android:name=".HitungPotensialActivity" />
        <activity android:name=".HitungKinetikActivity" />
        <activity android:name=".HitungUsahaActivity" />
        <activity android:name=".HitungGayaApungActivity" />
        <activity android:name=".HitungTekananCair" />
        <activity android:name=".HitungTekananPadat" />
        <activity android:name=".HitungBeratActivity" />
        <activity android:name=".HitungGayaActivity" />
        <activity android:name=".PilihUsahaOrEnergi" />
        <activity android:name=".PilihTekananZatActivity" />
        <activity android:name=".PilihGayaOrBeratActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>